.pagination-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.pagination-container button {
  background-color: #1f4e5f;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination-container button:hover {
  background-color: #163b4b;
}

.pagination-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination-container .active {
  background-color: var(--accent-color);
  color: var(--primary-color);
  font-weight: bold;
}
