.filters {
  margin-bottom: 15px;
}

.input {
  padding: 8px;
  font-size: 1rem;
  width: 100%;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
}

.input:focus {
  border-color: var(--accent-color);
  outline: none;
}

@media (max-width: 768px) {
  .input {
    padding: 6px;
    font-size: 0.9rem;
  }

  .button {
    padding: 8px;
    font-size: 0.9rem;
  }
}
